.c1 { background: #00CCFF;}
.c2 { background: #FF66FF;}
.c3 { background: #66FF99;}
.c4 { background: #FFFF99;}
.c5 { background: #FF9900;}
.c6 { background: #9966FF;}
.c7 { background: #0066FF;}
.c8 { background: #FFCCFF;}
.c9 { background: #009966;}
.c10 { background: #CC3300;}
.cdis { background: #666666;}
.cnote {
	 font-size: 8pt;
	 text-align: left;
}